Swal.fire({
  title: 'Parabéns! Você receberá em breve diversas receitas Veganas com o que você tem em casa!',
  width: 800,
  padding: '2em',
  background: '#fff url(/images/trees.png)',
  html:
    'Receba o planejamento da sua rotina alimentar com base nas suas compras. <br>Mantenha históricos dos nutrientes consumidos.<br><br> Baixe agora o app!' +
    '<div align=\'center\' style=\'display: flex; margin-top: 2em;\'>' +
    '<a href=\'http://veganese.herokuapp.com/users?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1\'><img alt=\'Disponível no Google Play\' src=\'https://dg77b7lskpws8.cloudfront.net/wp-content/uploads/2017/12/Google-Play-and-Apple-App-Store-Logos-Two-Up.png\'/ style=\'height:120px; width: 90%;\'></a>' +
    '</div>'
    ,
  type: 'success'
})